.navbar {
    background-color: yellow;
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }